<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>whut.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getUserServlet</servlet-name>
    <servlet-class>whut.servlet.GetUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showBookServlet</servlet-name>
    <servlet-class>whut.servlet.bookservlet.ShowBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addBookServlet</servlet-name>
    <servlet-class>whut.servlet.bookservlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteBookServlet</servlet-name>
    <servlet-class>whut.servlet.bookservlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryBookServlet</servlet-name>
    <servlet-class>whut.servlet.bookservlet.QueryBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerStudentServlet</servlet-name>
    <servlet-class>whut.servlet.studentservlet.RegisterStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>borrowBookServlet</servlet-name>
    <servlet-class>whut.servlet.borrowservlet.BorrowBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showBorrowServlet</servlet-name>
    <servlet-class>whut.servlet.borrowservlet.ShowBorrowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>returnBookServlet</servlet-name>
    <servlet-class>whut.servlet.borrowservlet.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryStudentServlet</servlet-name>
    <servlet-class>whut.servlet.studentservlet.QueryStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateStudentServlet</servlet-name>
    <servlet-class>whut.servlet.studentservlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteStudentServlet</servlet-name>
    <servlet-class>whut.servlet.studentservlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getRecordServlet</servlet-name>
    <servlet-class>whut.servlet.borrowservlet.GetRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addAdminServlet</servlet-name>
    <servlet-class>whut.servlet.adminservlet.AddBookAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getStudentInfoServlet</servlet-name>
    <servlet-class>whut.servlet.studentservlet.GetStudentInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changePwdServlet</servlet-name>
    <servlet-class>whut.servlet.studentservlet.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateBookServlet</servlet-name>
    <servlet-class>whut.servlet.bookservlet.UpdateBookServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserServlet</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showBookServlet</servlet-name>
    <url-pattern>/showBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addBookServlet</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteBookServlet</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryBookServlet</servlet-name>
    <url-pattern>/queryBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerStudentServlet</servlet-name>
    <url-pattern>/registerStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>borrowBookServlet</servlet-name>
    <url-pattern>/borrowBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showBorrowServlet</servlet-name>
    <url-pattern>/showBorrow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>returnBookServlet</servlet-name>
    <url-pattern>/returnBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryStudentServlet</servlet-name>
    <url-pattern>/queryStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateStudentServlet</servlet-name>
    <url-pattern>/updateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getRecordServlet</servlet-name>
    <url-pattern>/getRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addAdminServlet</servlet-name>
    <url-pattern>/addAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getStudentInfoServlet</servlet-name>
    <url-pattern>/getStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changePwdServlet</servlet-name>
    <url-pattern>/changePwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateBookServlet</servlet-name>
    <url-pattern>/updateBook</url-pattern>
  </servlet-mapping>

</web-app>
